@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-text: 'Manrope', -apple-system, system-ui, BlinkMacSystemFont,
    sans-serif;
  --font-heading: 'Manrope', -apple-system, system-ui, BlinkMacSystemFont,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: var(--font-text);
  text-rendering: optimizeLegibility;
  font-feature-settings: 'pnum' on, 'lnum' on;
  @apply m-0 box-border touch-manipulation overflow-x-hidden scroll-smooth  bg-light p-0 text-dark antialiased;
}

#__next {
  @apply flex min-h-screen flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  @apply font-kindabold;
}

button {
  @apply inline-flex items-center justify-center rounded-full font-kindabold;
}
/* width */
/* ::-webkit-scrollbar {
  width: 14px;
  height: 16px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
} */
