@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-text: 'Manrope', -apple-system, system-ui, BlinkMacSystemFont,
    sans-serif;
  --font-heading: 'Manrope', -apple-system, system-ui, BlinkMacSystemFont,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: var(--font-text);
  text-rendering: optimizeLegibility;
  font-feature-settings: 'pnum' on, 'lnum' on;
  @apply m-0 box-border touch-manipulation overflow-x-hidden scroll-smooth  bg-white p-0 text-dark antialiased;
}

#__next {
  @apply flex min-h-[100dvh] flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  @apply text-4xl font-kindabold md:text-[80px] md:leading-[109px];
}

h2 {
  @apply text-2xl font-semibold;
}

p {
  @apply text-base font-kindabold md:text-2xl;
}

/* width */
/* ::-webkit-scrollbar {
  width: 14px;
  height: 16px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
} */
